<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Page Object test example">
    <parameter name="browserType" value="chrome" />
    <parameter name="appURL" value="https://app.hrsale.com/erp/login" />

    <listeners>
        <listener class-name="api_utilities.ExtendReportManager"/>
    </listeners>
    <test name="sample test">
        <classes>
            <class name="api_test.UserTest"/>
        </classes>
    </test>
</suite>